.scrollable0panel{
    height: 600px;
    overflow: scroll;
    white-space: pre-wrap;
}

.collapse.show {
  visibility: visible;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

details {
    padding: .5em .5em 0;
    display: grid;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
}
