.scrollable0panel{
    height: 600px;
    overflow: auto;
    white-space: pre;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
