<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>Languages rules comparison</title>
</head>
<body>
    <form action="publish_rules" method="POST" class="mb-2 needs-validation" novalidate>
        
        <div class="mt-3 row no-gutters align-items-top">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <h1>Languages rules comparison</h1>
                <p style='font-size: 1.1em;'>Select the languages to compare </p>
                <div id="step2-2" class="input-group mr-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="language-1-addon">First language</span>
                    </div>
                    <select id="language-selector-1" class="form-control" name="language1">
                        <option value="english">English</option>
                        <option value="german">German</option>
                        <option value="swedish">Swedish</option>
                        <option value="finnish">Finnish</option>
                        <option value="karelian">Karelian</option>
                        <option value="otomi">Mezquital Otomi</option>
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="language-2-addon">Second language</span>
                    </div>
                    <select id="language-selector-2" class="form-control" name="language2">
                        <option value="english">English</option>
                        <option value="german">German</option>
                        <option value="swedish">Swedish</option>
                        <option value="finnish">Finnish</option>
                        <option value="karelian">Karelian</option>
                        <option value="otomi">Mezquital Otomi</option>
                    </select>
                    <button class="btn btn-success" type="submit" style="background-color: #1572A1;">Show</button>
                </div>
            </div>
            <div class="col-md-1"> </div>
            {% if rules_lang_1 is defined and rules_lang_1|length > 0 %}
            <div class="col-md-4">
            <fieldset class="border border-info rounded border-width:3px" >
            <div>
            <h3 style="text-align: center; color:#54BAB9"> Legend </h3>
            <p style="white-space: pre-wrap; padding-left: 10px; padding-right: 10px">
The <a href="https://en.wikipedia.org/wiki/Inflection" target="_blank" rel="noopener noreferrer">inflections</a> for each language chosen are displayed below, classified into morphological rules. 
Suffixes have a "-" sign preceding each inflection. 
Prefixes have a "-" sign following each inflection. 
Similar inflections across two languages are shown in <t style="color:#9C0F48">red</t>.</p></div> </fieldset> {% endif %}</div>
        </div>
    </form>
    <div class="mt-3 row no-gutters align-items-top" >
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <h1> {{lang_1}}</h1>
            <div class="scrollable0panel">
                {{rules_lang_1 | safe}}
            </div>
        </div>
        <div class="col-md-5">
            <h1> {{lang_2}}</h1>
            <div class="scrollable0panel">
                {{rules_lang_2 | safe}}
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="mt-3 row no-gutters align-items-top">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            <p style="font-size:20px;white-space: pre-wrap;">{{rules_percent}}</p>
        </div>
    </div>
    <div class="mt-3 row no-gutters align-items-top">
        <div class="col-md-1">
        </div>
        <div class="col-md-9">
            {% if analogies_examples is defined and analogies_examples|length > 0 %}
            <p style="font-size:20px;white-space: pre-wrap;">Example of analogies guessed by our model trained on {{lang_1}} and applied on {{lang_2}}:</p>
            <table id="analogies" class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Lemma 1</th>
                        <th scope="col">Inflected form 1</th>
                        <th scope="col">Lemma 2</th>
                        <th scope="col">Inflected form 2</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in analogies_examples %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</body>
</html>
